:root {
  --text-color: #0F1A3A;
  --bg-color: #F9FCFF;
  --item-hover-bg-color: #EEE6CF;
  --active-file-bg-color: #EEE6CF;
}
@font-face {
  font-family: 'FZJZFS';
  src: url('fonts/FZJZFS.woff2') format('woff');
  src: url('fonts/FZJZFS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bellotas';
  src: url('fonts/Bellota-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bellotas';
  src: url('fonts/Bellota-Italic.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bellotas';
  src: url('fonts/Bellota-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HYHuaGuan';
  src: url('fonts/HYHuaGuan_55W.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HYHuaGuan';
  src: url('fonts/HYHuaGuan_85W.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlab';
  src: url('fonts/JosefinSlab-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KhaiTi';
  src: url('fonts/fangzhengkaiti.woff2') format('woff2'), url('fonts/fangzhengkaiti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Old StandardTT';
  src: url('fonts/OldStandard-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
html,
body,
#write {
  font-size: 18px;
}
body {
  background: #F9FCFF;
}
body content {
  background: #F9FCFF;
}
@media (max-width: 800px) {
  body #write {
    margin: 0;
    padding: 2rem;
    box-shadow: none;
  }
}
@media (min-width: 801px) {
  body #write {
    margin: 2rem auto;
    padding: 2rem 4rem;
    border-radius: 15px;
    box-shadow: 15px 15px 66px #a2a4a6, -15px -15px 66px #ffffff;
  }
}
body #write {
  max-width: 40rem;
  min-width: 350px;
  line-height: 2;
  background: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
  font-family: "Bellotas", "HYHuaGuan", sans-serif;
  font-size: 18px;
  font-size: 1rem;
  color: #0F1A3A;
  counter-reset: figures;
}
body #write h1,
body #write h2,
body #write h3,
body #write h4,
body #write h5,
body #write h6 {
  font-family: "Old StandardTT", "FZJZFS", serif;
  font-weight: bold;
  color: #351D35;
  z-index: 2;
}
body #write h1 {
  text-align: center;
  font-size: 2.25rem;
}
body #write h2 {
  position: relative;
  margin: 1rem 1.25rem;
  padding: 3rem 0 1rem;
  outline: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  z-index: 2;
  font-size: 2rem;
}
body #write h2::before {
  background: rgba(255, 166, 17, 0.55);
}
body #write h2::before,
body #write h2::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0%;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(255, 166, 17, 0.55);
  border-radius: 50%;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}
body #write h2::after {
  width: 90px;
  height: 90px;
  border-width: 8px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}
body #write h2:hover::before,
body #write h2:hover::after,
body #write h2:focus::before,
body #write h2:focus::after {
  opacity: 1;
  border-color: rgba(255, 166, 17, 0.95);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}
body #write h3 {
  position: relative;
  outline: none;
  padding: 1.5rem 2rem 1rem;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.75rem;
}
body #write h3::before,
body #write h3::after {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 75%;
  height: 2px;
  background: #0F1A3A;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.3s, height 0.3s;
  -moz-transition: opacity 0.3s, height 0.3s;
  transition: opacity 0.3s, height 0.3s;
}
body #write h3::after {
  top: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
body #write h3:hover,
body #write h3:focus {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}
body #write h3:hover::before,
body #write h3:hover::after,
body #write h3:focus::before,
body #write h3:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
body #write h3:hover::before,
body #write h3:focus::before {
  height: 8px;
}
body #write h4 {
  position: relative;
  font-size: 1.5rem;
}
body #write h4::after {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  height: 100%;
  border-bottom: 2px solid #C09A21;
  color: #C09A21;
  content: attr(id);
  -webkit-transition: max-width ease-in-out 1s;
  -moz-transition: max-width ease-in-out 1s;
  transition: max-width ease-in-out 1s;
}
body #write h4:hover::after,
body #write h4:focus::after {
  max-width: 100%;
}
body #write h5 {
  position: relative;
  font-size: 1.25rem;
}
body #write h1 {
  counter-reset: cnt_h2 0 cnt_h3 0 cnt_h4 0 cnt_h5 0;
}
body #write h2 {
  counter-reset: cnt_h3 0 cnt_h4 0 cnt_h5 0;
  counter-increment: cnt_h2;
}
body #write h2:before {
  content: counter(cnt_h2) " ";
}
body #write h3 {
  counter-reset: cnt_h4 0 cnt_h5 0;
  counter-increment: cnt_h3;
}
body #write h3::before {
  content: counter(cnt_h2) "." counter(cnt_h3) " ";
}
body #write h4 {
  counter-reset: cnt_h5;
  counter-increment: cnt_h4;
}
body #write h4::before {
  content: counter(cnt_h2) "." counter(cnt_h3) "." counter(cnt_h4) " ";
}
body #write h5 {
  counter-increment: cnt_h5;
}
body #write h5::before {
  content: counter(cnt_h2) "-" counter(cnt_h3) "-" counter(cnt_h4) "-" counter(cnt_h5) " ";
}
body #write h2::before,
body #write h3::before,
body #write h4::before,
body #write h5::before {
  font-family: "Old StandardTT", "FZJZFS", serif;
  font-style: italic;
  font-size: 4rem;
  color: #ccc7ce;
}
body #write h4::before,
body #write h5::before {
  font-size: 2rem;
  position: absolute;
  left: -1rem;
  top: -1.5rem;
  z-index: -1;
}
body #write h2:hover::before,
body #write h3:hover::before,
body #write h4:hover::before,
body #write h5:hover::before {
  color: rgba(15, 26, 58, 0.3);
  z-index: -1;
}
body #write strong,
body #write em {
  font-family: "Bellotas", "KhaiTi", sans-serif;
  font-weight: 900;
  color: #3453b2;
}
body #write u {
  text-decoration: none;
  position: relative;
}
body #write u::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 8px;
  z-index: -1;
  background: #C09A21;
}
body #write a {
  position: relative;
  color: #C09A21;
  text-decoration: none;
  z-index: 2;
}
body #write a:hover {
  color: #0F1A3A;
  transition: all ease-in-out 1s;
}
body #write a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 8px;
  z-index: -1;
  background: #C09A21;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
body #write a:hover::after,
body #write a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
body #write code {
  min-width: 10px;
  margin: 0px 2px;
  padding: 0px 8px;
  border-radius: 2px;
  box-shadow: inset 5px 5px 15px #b7bccc, 2px 5px 5px #111e43;
}
body #write pre,
body #write code {
  font-family: "JosefinSlab", "HYHuaGuan", monospace;
}
body #write pre.md-fences,
body #write pre.md-meta-block,
body #write code {
  border-radius: 5px;
  background: linear-gradient(225deg, #101c3e, #0e1734);
  color: #FDFEFD;
}
body #write pre.md-fences {
  padding: 8px;
  box-shadow: -5px -8px 20px #040f30, inset -20px -20px 15px #374d90;
}
body #write pre.md-fences:hover {
  box-shadow: inset -50px 50px 100px #060a17, inset 50px -50px 100px #182a5d;
}
body #write pre.md-fences pre {
  font-size: 18px;
  font-weight: bold;
}
body #write pre.md-fences .CodeMirror-code {
  line-height: 1.25;
}
body #write pre.md-fences div.CodeMirror-cursor {
  border-width: 2px;
}
body #write pre.md-meta-block {
  padding: 4px 12px;
}
body #write figure {
  width: 100%;
  margin: 1rem auto;
}
body #write table {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: linear-gradient(315deg, #d8d3e2, #fffaff);
  box-shadow: -6px -6px 12px #d8d3e2, 6px 6px 12px #ffffff;
  border-collapse: separate;
}
body #write table:hover {
  background: #f0eafb;
  box-shadow: inset 9px -9px 25px #e4deee, inset -9px 9px 25px #fcf6ff;
}
body #write table tr:hover,
body #write table thead {
  box-shadow: 2px 5px 10px 0px #e6950f, inset 0px 5px 20px 10px #ffb713;
  border-radius: 20px;
}
body #write blockquote {
  margin: 2rem auto;
  padding: 0.5rem 3rem 0.5rem 1rem;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(225deg, #d5d4d0, #fefbf7);
  box-shadow: -5px 5px 10px #bebcb9, 5px -5px 10px #ffffff;
  font-family: "Bellotas", "KhaiTi", sans-serif;
}
body #write blockquote:hover {
  background: #F3F3F3;
  box-shadow: inset -5px 5px 10px #c2c2c2, inset 5px -5px 10px #ffffff;
}
body #write blockquote::after,
body #write blockquote::before {
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: -16px;
  bottom: -16px;
  border-radius: 50%;
  background: linear-gradient(225deg, #fefbf7, #d5d4d0);
  box-shadow: -5px 5px 10px #bebcb9bf, 5px -5px 10px #ffffff;
}
body #write blockquote::before {
  width: 2rem;
  height: 2rem;
  right: 25px;
  background: linear-gradient(225deg, #ffffff, #dbdbdb);
  box-shadow: -5px 5px 10px #c2c2c2, 5px -5px 10px #ffffff;
}
body #write blockquote:hover::after,
body #write blockquote:hover::before {
  border-radius: 50%;
  background: linear-gradient(225deg, #cedaff, #2f4ba0);
  box-shadow: -5px 5px 10px #5079fb, 5px -5px 10px #ccd9ff;
}
body #write img {
  display: block;
  margin: 1rem auto;
}
body #write img[alt~="shadow"] {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
body #write img[alt~="inline"] {
  display: inline-block;
  margin: 0;
  padding: 0;
}
body #write figcaption {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "JosefinSlab", "HYHuaGuan", monospace;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background: #f5bca8;
  counter-increment: figures;
}
body #write figcaption:before {
  content: 'Fig. ' counter(figures) ' - ';
}
body #write hr {
  border: 0;
  color: #d0d0d5;
  background: linear-gradient(to right, #C09A21, #FDFEFD) no-repeat center;
  background-size: 100% 2px;
}
body #write hr::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 0.75em;
  transform: rotate(45deg);
  background-color: #C09A21;
  margin: 3px auto;
  box-shadow: 1.25em -1.25em, -1.25em 1.25em;
}
#typora-sidebar {
  border-radius: 0px;
  background: linear-gradient(145deg, #ffffff, #dadadb);
  box-shadow: 16px 16px 32px #a9a9aa, -16px -16px 32px #ffffff;
}
#typora-sidebar .file-list-item {
  border-bottom-color: #050507;
}
#typora-sidebar .file-list-item.active {
  border-radius: 10px;
  background: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
  box-shadow: inset -10px 10px 70px #bdbdbe, inset 10px -10px 70px #ffffff;
}
#typora-sidebar .file-node-content {
  color: #0F1A3A;
}
#typora-sidebar .file-tree-node.active > .file-node-content {
  color: #351D35;
}
.megamenu-content {
  background: #F9FCFF;
}
@media (max-width: 800px) {
  .megamenu-content {
    background-color: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
  }
}
.megamenu-content #recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
}
.megamenu-content .long-btn {
  margin: 15px 30px;
  border: 1px solid transparent;
  border-radius: 45px;
  background: #fff;
  box-shadow: 6px 6px 10px #e4e4e4, -6px -6px 10px #ffffff;
}
.megamenu-content .long-btn:hover {
  background: #fff;
  box-shadow: inset 6px 6px 10px #d5ceb9, inset -6px -6px 10px #fffee5;
}
.megamenu-content #theme-preview-grid {
  max-width: 95%;
}
.megamenu-content #theme-preview-grid .theme-preview-div {
  width: 25%;
  border-color: transparent;
  display: inline-flex;
  align-items: center;
  align-content: center;
  box-shadow: 6px 6px 10px #e4e4e4, -6px -6px 10px #ffffff;
}
.megamenu-content #theme-preview-grid .theme-preview-div:hover {
  border-color: #EEE6CF;
  box-shadow: inset 6px 6px 10px #d5ceb9, inset -6px -6px 10px #fffee5;
}
.megamenu-content #theme-preview-grid .theme-preview-div .theme-preview-content {
  width: 90%;
  height: 90%;
  text-align: center;
}
.megamenu-content #about-content-about-section .about-content-meta {
  font-family: "JosefinSlab", "HYHuaGuan", monospace;
}
.megamenu-content #about-content-about-section #about-content-license-button {
  margin: 15px 30px;
  border: 1px solid transparent;
  border-radius: 45px;
  background: #fff;
  box-shadow: 6px 6px 10px #e4e4e4, -6px -6px 10px #ffffff;
}
.megamenu-content #about-content-about-section #about-content-license-button:hover {
  background: #fff;
  box-shadow: inset 6px 6px 10px #d5ceb9, inset -6px -6px 10px #fffee5;
}
.megamenu-menu-list li a.active,
.megamenu-menu-list:not(.saved) li a:hover {
  color: #0F1A3A;
}
@media (prefers-color-scheme: dark) {
  .export-detail,
  .export-item.active,
  .export-items-list-control {
    background-color: #EEE6CF;
  }
}
@media (max-width: 800px) {
  .uni-preference-panel {
    background-color: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
  }
}
#top-titlebar {
  height: 30px;
}
#top-titlebar,
#top-titlebar * {
  background-color: #F9FCFF;
}
@media (max-width: 800px) {
  #top-titlebar,
  #top-titlebar * {
    background-color: linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6);
  }
}
.on-focus-mode #write {
  border-radius: 10px;
  box-shadow: -15px 15px 15px #ebebec, 15px -15px 15px #f9f9fa;
}
.on-focus-mode .md-focus {
  padding: 2px 8px;
  border-radius: 5px;
  background: #F3F3F3;
  box-shadow: inset -5px 5px 10px #c2c2c2, inset 5px -5px 10px #ffffff;
}
pre.md-fences .cm-s-inner .cm-variable,
pre.md-fences .cm-s-inner .cm-operator,
pre.md-fences .cm-s-inner .cm-property {
  color: #b8bfc6;
}
pre.md-fences .cm-s-inner .cm-keyword {
  color: #C88FD0;
}
pre.md-fences .cm-s-inner .cm-tag {
  color: #7DF46A;
}
pre.md-fences .cm-s-inner .cm-attribute {
  color: #7575E4;
}
pre.md-fences .CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #b8bfc6;
  z-index: 3;
}
pre.md-fences .cm-s-inner .cm-string {
  color: #D26B6B;
}
pre.md-fences .cm-s-inner .cm-comment,
pre.md-fences .cm-s-inner.cm-comment {
  color: #DA924A;
}
pre.md-fences .cm-s-inner .cm-header,
pre.md-fences .cm-s-inner .cm-def,
pre.md-fences .cm-s-inner.cm-header,
pre.md-fences .cm-s-inner.cm-def {
  color: #8d8df0;
}
pre.md-fences .cm-s-inner .cm-quote,
pre.md-fences .cm-s-inner.cm-quote {
  color: #57ac57;
}
pre.md-fences .cm-s-inner .cm-hr {
  color: #d8d5d5;
}
pre.md-fences .cm-s-inner .cm-link {
  color: #d3d3ef;
}
pre.md-fences .cm-s-inner .cm-negative {
  color: #d95050;
}
pre.md-fences .cm-s-inner .cm-positive {
  color: #50e650;
}
pre.md-fences .cm-s-inner .cm-string-2 {
  color: #f50;
}
pre.md-fences .cm-s-inner .cm-meta,
pre.md-fences .cm-s-inner .cm-qualifier {
  color: #b7b3b3;
}
pre.md-fences .cm-s-inner .cm-builtin {
  color: #f3b3f8;
}
pre.md-fences .cm-s-inner .cm-bracket {
  color: #997;
}
pre.md-fences .cm-s-inner .cm-atom,
pre.md-fences .cm-s-inner.cm-atom {
  color: #84B6CB;
}
pre.md-fences .cm-s-inner .cm-number {
  color: #64AB8F;
}
pre.md-fences .cm-s-inner .cm-variable {
  color: #b8bfc6;
}
pre.md-fences .cm-s-inner .cm-variable-2 {
  color: #9FBAD5;
}
pre.md-fences .cm-s-inner .cm-variable-3 {
  color: #1cc685;
}
pre.md-fences .CodeMirror-selectedtext,
pre.md-fences .CodeMirror-selected {
  background: #4a89dc;
  color: #fff !important;
  text-shadow: none;
}
pre.md-fences .CodeMirror-gutters {
  border-right: none;
}
