//注释下方代码将生成亮色主题。

@darkmode: TRUE;

:root {
    --text-color: @colorText;
    --bg-color: @bgcolorBody;
    --item-hover-bg-color: @bgcolorSelect;
    --active-file-bg-color: @bgcolorSelect;
    --select-text-bg-color: @bgcolorSelectText;
    --select-text-font-color: @colorSelectText;
    --rawblock-edit-panel-bd: fadeout(@bgcolorBody, 40%);
    --monospace: @fontSource;
    --mermaid-font-family: @fontEmphise;
}

@font-face {
    font-family: 'FZJZFS';
    src: url('./fonts/FZJZFS.woff2') format('woff');
    src: url('./fonts/FZJZFS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bellota';
    src: url('./fonts/Bellota-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bellota';
    src: url('./fonts/Bellota-Italic.woff2') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bellota';
    src: url('./fonts/Bellota-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HYHuaGuan';
    src: url('./fonts/HYHuaGuan_55W.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HYHuaGuan';
    src: url('./fonts/HYHuaGuan_85W.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlab';
    src: url('./fonts/JosefinSlab-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhaiTi';
    src: url('./fonts/fangzhengkaiti.woff2') format('woff2'),
        url('./fonts/fangzhengkaiti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('./fonts/OldStandard-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode-Light.woff2') format('woff2'),
        url("woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode-Regular.woff2') format('woff2'),
        url("woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

//   @font-face {
//     font-family: 'Fira Code';
//     src: url('./fonts/FiraCode-Medium.woff2') format('woff2'),
//       url("woff/FiraCode-Medium.woff") format("woff");
//     font-weight: 500;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Fira Code';
//     src: url('./fonts/FiraCode-SemiBold.woff2') format('woff2'),
//       url("woff/FiraCode-SemiBold.woff") format("woff");
//     font-weight: 600;
//     font-style: normal;
//   }

@font-face {
    font-family: 'Fira Code';
    src: url('./fonts/FiraCode-Bold.woff2') format('woff2'),
        url("woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous';
    src: url('./fonts/Anonymous.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Anonymous';
    src: url('./fonts/AnonymousB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous';
    src: url('./fonts/AnonymousI.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@fontTitle: "Old Standard TT", Didot, "Modern No. 20", "FZJuZXFK--GBK1-0", "FZJZFS", "STBaoliSC-Regular", "华文隶书", serif;
@fontText: "Bellota", "Tw Cen MT", "HYHuaGuan", "霞鹜文楷", "STLibianSC-Regular", "华文中宋", sans-serif;
@fontEmphise: "Old Standard TT", Didot, "Modern No. 20", "KhaiTi", STKaiti, Kaiti, sans-serif;
@fontCode: "Anonymous", "Courier New", "HYHuaGuan", "STLibianSC-Regular", "华文中宋", monospace;
@fontSource: "Fira Code", "menlo", "KhaiTi", STKaiti, Kaiti, monospace;

@sizeTitle: 1.25rem;
@sizeText: 1rem;

@colorTitle: if(isdefined(@darkmode), #FDFEFD, #351D35);
@colorText: if(isdefined(@darkmode), #f0eafb, #0F1A3A);
@colorEmphise: if(isdefined(@darkmode), #C0C478, #3453b2);
@colorComments: if(isdefined(@darkmode), #050507, #FDFEFD);
@colorWeak: if(isdefined(@darkmode), #050507, #0505071a);
@colorLink: #C09A21;
@colorCode: #e6dcff;

@bgcolorBase: if(isdefined(@darkmode), #171736, linear-gradient(145deg, #fff 0%, #F9FCFF 5%, #f2f2f3 35%, #f0eafb 75%, #e0e3e6));
@bgcolorBody: if(isdefined(@darkmode), #0F1A3A, #F9FCFF);
@bgcolorQuota: if(isdefined(@darkmode), linear-gradient(1deg, #101c3e, #0e1734), linear-gradient(12deg, #ededfc, #efeffb 45%, #f7f6ff));
@bgcolorCode: linear-gradient(225deg, #101c3e, #0e1734);
@bgcolorTable: if(isdefined(@darkmode), linear-gradient(225deg, #0e2b41, #11334d), linear-gradient(315deg, #d8d3e2, #fffaff));
@bgcolorSelect: if(isdefined(@darkmode), #1A3B68, #EEE6CF);

@bchoverQuota: if(isdefined(@darkmode), #101c3e, #F3F3F3);
@bchoverQuota: @bchoverTable;
@bchoverTable: if(isdefined(@darkmode), #103048, #f0eafb);

@bcshadowBaseL: 15px 15px 66px #a2a4a6, -15px -15px 66px #ffffff;
@bcshadowBaseD: 10px 10px 20px #1a1628, -10px -10px 20px #1c172f;
@bcshadowBase: if(isdefined(@darkmode), @bcshadowBaseD, @bcshadowBaseL);

@shadowQuotaL: -5px 5px 10px #e6e6e6, 5px -5px 10px #f0f0f0;
@shadowQuotaD: -5px 5px 10px #0a1024, 5px -5px 10px #121e44;
@shadowQuota: if(isdefined(@darkmode), @shadowQuotaD, @shadowQuotaL);
@shadowhoverQuotaL: inset -5px 5px 10px #c2c2c2, inset 5px -5px 10px #ffffff;
@shadowhoverQuotaD: inset -5px 5px 10px #0b142b, inset 5px -5px 10px #152451;
@shadowhoverQuota: if(isdefined(@darkmode), @shadowhoverQuotaD, @shadowhoverQuotaL);
@shadowhoverQuota: @shadowhoverTable;

@shadowTableL: -6px -6px 12px #d8d3e2, 6px 6px 12px #ffffff;
@shadowTableD: -6px -6px 12px #0d263a, 6px 6px 12px #133a56;
@shadowTable: if(isdefined(@darkmode), @shadowTableD, @shadowTableL);
@shadowhoverTableL: inset 9px -9px 25px #e4deee, inset -9px 9px 25px #fcf6ff;
@shadowhoverTableD: inset 9px -9px 25px #0d263a, inset -9px 9px 25px #133a56;
@shadowhoverTable: if(isdefined(@darkmode), @shadowhoverTableD, @shadowhoverTableL);
@shadowhoverTrL: 2px 5px 10px 0px #e6950f, inset 0px 5px 20px 10px #ffb713;
@shadowhoverTrD: 2px 5px 10px 0px #0e1734, inset 0px 5px 20px 10px #2d3966;
@shadowhoverTr: if(isdefined(@darkmode), @shadowhoverTrD, @shadowhoverTrL);


@bcballQuotaD1: linear-gradient(225deg, #111e42, #0e1938);
@sdballQuotaD1: -5px 5px 10px #0b142b, 5px -5px 10px #152451;
@bcballQuotaD2: linear-gradient(225deg, #122047, #0f1b3b);
@sdballQuotaD2: -5px 5px 10px #0c152e, 5px -5px 10px #162756;
@bcballQuotaL1: linear-gradient(225deg, #fefbf7, #d5d4d0);
@sdballQuotaL1: -5px 5px 10px #bebcb9bf, 5px -5px 10px #ffffff;
@bcballQuotaL2: linear-gradient(225deg, #ffffff, #dbdbdb);
@sdballQuotaL2: -5px 5px 10px #c2c2c2, 5px -5px 10px #ffffff;
@bcballQuota1: if(isdefined(@darkmode), @bcballQuotaD1, @bcballQuotaL1);
@bcballQuota2: if(isdefined(@darkmode), @bcballQuotaD2, @bcballQuotaL2);
@sdballQuota1: if(isdefined(@darkmode), @sdballQuotaD1, @sdballQuotaL1);
@sdballQuota2: if(isdefined(@darkmode), @sdballQuotaD2, @sdballQuotaL2);


@bgcolorSideL: linear-gradient(145deg, #ffffff, #dadadb);
@bgcolorSideD: @bgcolorBase;
@bgcolorSide: if(isdefined(@darkmode), @bgcolorSideD, @bgcolorSideL);
@shadowSideL: 16px 16px 32px #a9a9aa, -16px -16px 32px #ffffff;
@shadowSideD: @bcshadowBaseD;
@shadowSide: if(isdefined(@darkmode), @shadowSideD, @shadowSideL);
@shadowhoverSideL: inset -10px 10px 70px #bdbdbe, inset 10px -10px 70px #ffffff;
@shadowhoverSideD: @shadowhoverQuotaD;
@shadowhoverSide: if(isdefined(@darkmode), @shadowhoverSideD, @shadowhoverSideL);
@shadowbgFocusL: -15px 15px 15px #ebebec, 15px -15px 15px #f9f9fa;
@shadowbgFocusD: @bcshadowBaseD;
@shadowbgFocus: if(isdefined(@darkmode), @shadowbgFocusD, @shadowbgFocusL);
@shadowFocusL: inset -5px 5px 10px #c2c2c2, inset 5px -5px 10px #ffffff;
@shadowFocusD: inset 10px 10px 20px #1a1628, inset -10px -10px 20px #1c172f;
@shadowFocus: if(isdefined(@darkmode), @shadowFocusD, @shadowFocusL);
@shadowFocusbgL: #F3F3F3;
@shadowFocusbgD: #411464;
@shadowFocusbg: if(isdefined(@darkmode), @shadowFocusbgD, @shadowFocusbgL);

@shadowBTNL: 6px 6px 10px #e4e4e4, -6px -6px 10px #ffffff;
@shadowBTND: 8px 8px 12px #071C31, -8px -8px 12px #09243F;
@shadowBTN: if(isdefined(@darkmode), @shadowBTND, @shadowBTNL);
@shadowhoverBTNL: inset 6px 6px 10px #d5ceb9, inset -6px -6px 10px #fffee5;
@shadowhoverBTND: inset -10px -10px 10px #0a141e, inset 10px 10px 10px #0a2341;
@shadowhoverBTN: if(isdefined(@darkmode), @shadowhoverBTND, @shadowhoverBTNL);
@bgcolorBTNL: #fff;
@bgcolorBTND: #082038;
@bgcolorBTN: if(isdefined(@darkmode), @bgcolorBTND, @bgcolorBTNL);
@bchoverBTNL: #FAE1A7;
@bchoverBTND: #082038;
@bchoverBTN: if(isdefined(@darkmode), @bchoverBTND, @bchoverBTNL);

@bgcolorSelectText: if(isdefined(@darkmode), #FAE1A7, #084E6A);
@colorSelectText: if(isdefined(@darkmode), #4D85DB, #FCF1E5);
@bgcolorTOC: if(isdefined(@darkmode), #FFA644, #FFF6E5);

@bgcolorTodoL: linear-gradient(145deg, #cacaca, #f0f0f0);
@bgcolorTodoD: linear-gradient(145deg, #14293d, #051423);
@bgcolorTodo: if(isdefined(@darkmode), @bgcolorTodoD, @bgcolorTodoL);
@shadowTodoL: 5px 5px 14px #bcbcbc, -5px -5px 14px #ffffff;
@shadowTodoD: 5px 5px 10px #0f2d41, -5px -5px 10px #0a1e32;
@shadowTodo: if(isdefined(@darkmode), @shadowTodoD, @shadowTodoL);

@bchoverTodoL: #0F1A3A;
@bchoverTodoD: #2e4e7e;
@bchoverTodo: if(isdefined(@darkmode), @bchoverTodoD, @bchoverTodoL);
@shadowhoverTodoL: inset 5px 5px 5px #0a141e, inset -5px -5px 5px #4b78b4;
@shadowhoverTodoD: inset 5px 5px 5px #0a1126, inset -10px -10px 5px #14234e;
@shadowhoverTodo: if(isdefined(@darkmode), @shadowhoverTodoD, @shadowhoverTodoL);


html,
body,
#write {
    font-size: 18px;
    text-align: justify;
}


body {
    background: @bgcolorBody;

    &.pin-outline {
        @media (max-width:1060px) {
            background: @bgcolorBase;

            content {
                background: @bgcolorBase;
            }

            #write {
                margin: 0 auto;
                padding: 2rem;
                box-shadow: none;
            }

            #top-titlebar,
            #top-titlebar * {
                background-color: @bgcolorBase;
            }
        }
    }

    content {
        background: @bgcolorBody;
    }

    @media (max-width:800px) {
        #write {
            margin: 0 auto;
            padding: 2rem;
            box-shadow: none;
        }
    }

    @media (min-width:801px) {
        #write {
            margin: 2rem auto;
            padding: 2rem 4rem;
            border-radius: 15px;
            box-shadow: @bcshadowBase;
        }
    }

    #write {
        max-width: 45rem;
        min-width: 400px;
        line-height: 2;
        background: @bgcolorBase;
        font-family: @fontText;
        font-size: 18px;
        font-size: @sizeText;
        color: @colorText;
        counter-reset: figures;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: @fontTitle;
            font-weight: bold;
            color: @colorTitle;
            z-index: 2;
        }

        h1 {
            text-align: center;
            font-size: 2.25rem;
            // position: relative;
            // margin: auto;
            // word-spacing: .2em;
            // display: inline-block;
            // white-space: nowrap;
            // color: transparent;
            // background-color: #2c2c2c;
            // -webkit-background-clip: text;
            // background-clip: text;
            text-transform: capitalize;
            // text-shadow: 0 0 3vw #F4BD0A;
            // animation: neon 2s ease-in-out infinite;

            // &::after {
            //     content: attr(id);
            //     text-transform: capitalize;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     z-index: 5;
            //     background-image: linear-gradient(120deg, transparent, transparent 6rem, #fff 11rem, transparent 11.15rem, transparent 15rem, hsla(0, 0%, 100%, .3) 20rem, transparent 25rem, transparent 27rem, hsla(0, 0%, 100%, .6) 32rem, #fff 33rem, hsla(0, 0%, 100%, .3) 33.15rem, transparent 38rem, transparent 40rem, hsla(0, 0%, 100%, .3) 45rem, transparent 50rem, transparent);
            //     -webkit-background-clip: text;
            //     background-clip: text;
            //     background-size: 150% 100%;
            //     background-repeat: no-repeat;
            //     -webkit-animation: text_shine 5s linear 1;
            //     animation: text_shine 5s linear infinite forwards;
            // }

            // &:hover {
            //     color: #fff
            // }
        }

        h2 {
            position: relative;
            margin: 1rem 1.25rem;
            padding: 3rem 0 1rem;
            outline: none;
            text-shadow: 0 0 1px rgb(255 255 255 / 30%);
            z-index: 2;
            font-size: 2rem;

            &::before {
                background: rgba(255, 166, 17, 0.55);
            }

            &::before,
            &::after {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 0%;
                width: 100px;
                height: 100px;
                border: 5px solid rgba(255, 166, 17, 0.55);
                border-radius: 50%;
                content: '';
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
                -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
                -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
                transform: translateX(-50%) translateY(-50%) scale(0.2);
            }

            &::after {
                width: 90px;
                height: 90px;
                border-width: 8px;
                -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
                -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
                transform: translateX(-50%) translateY(-50%) scale(0.8);
            }

            &:hover::before,
            &:hover::after,
            &:focus::before,
            &:focus::after {
                opacity: 1;
                border-color: rgb(255 166 17 / 95%);
                -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
                -moz-transform: translateX(-50%) translateY(-50%) scale(1);
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }

        h3 {
            position: relative;
            outline: none;
            padding: 1.5rem 2rem 1rem;
            text-shadow: 0 0 1px rgb(255 255 255 / 30%);
            font-size: 1.75rem;

            &::before,
            &::after {
                position: absolute;
                top: 0;
                left: 2rem;
                width: 75%;
                height: 2px;
                background: @colorText;
                content: '';
                opacity: 0.2;
                -webkit-transition: opacity 0.3s, height 0.3s;
                -moz-transition: opacity 0.3s, height 0.3s;
                transition: opacity 0.3s, height 0.3s;
            }

            &::after {
                top: 100%;
                opacity: 0;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                transform: translateY(-10px);
            }

            &:hover,
            &:focus {
                opacity: 1;
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                transform: translateY(0%);
            }

            &:hover::before,
            &:hover::after,
            &:focus::before,
            &:focus::after {
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }

            &:hover::before,
            &:focus::before {
                height: 8px;
            }
        }

        h4 {
            position: relative;
            font-size: 1.5rem;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                max-width: 0;
                height: 100%;
                border-bottom: 2px solid @colorLink;
                color: @colorLink;
                content: attr(id);
                -webkit-transition: max-width ease-in-out 1s;
                -moz-transition: max-width ease-in-out 1s;
                transition: max-width ease-in-out 1s;
            }

            &:hover::after,
            &:focus::after {
                max-width: 100%;
            }
        }

        h5 {
            position: relative;
            font-size: 1.25rem;
        }

        h6 {
            position: relative;
            padding-left: 2rem;

            &::before {
                position: absolute;
                top: 8px;
                left: .5rem;
                color: @bgcolorBody;
                background: @colorText;
                content: '\36';
                border-radius: 15px;
                width: 20px;
                height: 20px;
                padding: 1px;
                text-align: center;
                line-height: 1;
                display: inline-block;
                font-family: 'FontAwesome';
            }
        }

        h1 {
            counter-reset: cnt_h2 0 cnt_h3 0 cnt_h4 0 cnt_h5 0;
        }

        h2 {
            counter-reset: cnt_h3 0 cnt_h4 0 cnt_h5 0;
            counter-increment: cnt_h2;
        }

        h2:before {
            content: counter(cnt_h2)" ";
        }

        h3 {
            counter-reset: cnt_h4 0 cnt_h5 0;
            counter-increment: cnt_h3;
        }

        h3::before {
            content: counter(cnt_h2)"."counter(cnt_h3)" ";
        }

        h4 {
            counter-reset: cnt_h5;
            counter-increment: cnt_h4;
        }

        h4::before {
            content: counter(cnt_h2)"."counter(cnt_h3)"."counter(cnt_h4)" ";
        }

        h5 {
            counter-increment: cnt_h5;
        }

        h5::before {
            content: counter(cnt_h2)"-"counter(cnt_h3)"-"counter(cnt_h4)"-"counter(cnt_h5)" ";
        }

        h2::before,
        h3::before,
        h4::before,
        h5::before {
            font-family: @fontTitle;
            font-style: italic;
            font-size: 4rem;
            color: rgb(204 199 206);
        }

        h4::before,
        h5::before {
            font-size: 2rem;
            position: absolute;
            left: -1rem;
            top: -1.5rem;
            z-index: -1;
        }

        h2:hover::before,
        h3:hover::before,
        h4:hover::before,
        h5:hover::before {
            color: fadeout(@colorText, 70%);
            z-index: -1;
        }

        strong,
        em {
            font-family: @fontEmphise;
            font-weight: 900;
            color: @colorEmphise;
        }

        u {
            text-decoration: none;
            position: relative;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 100%;
                height: 8px;
                z-index: -1;
                background: @colorLink;
            }
        }

        a {
            position: relative;
            color: @colorLink;
            text-decoration: none;
            z-index: 2;

            &:hover {
                color: @colorText;
                transition: all ease-in-out 1s;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 100%;
                height: 8px;
                z-index: -1;
                background: @colorLink;
                opacity: 0;
                -webkit-transform: translateY(5px);
                -moz-transform: translateY(5px);
                transform: translateY(5px);
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
                pointer-events: none;
            }

            &:hover::after,
            &:focus::after {
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
        }

        code {
            min-width: 10px;
            margin: 0px 2px;
            padding: 0px 8px;
            border-radius: 2px;
            box-shadow: inset 5px 5px 15px #b7bccc, 2px 5px 5px #111e43;
        }

        pre,
        code {
            font-family: @fontCode;
        }

        pre.md-fences,
        pre.md-meta-block,
        code {
            border-radius: 5px;
            background: @bgcolorCode;
            color: @colorCode;
            font-size: .85rem;
        }

        pre.md-fences {
            padding: 8px;
            box-shadow: -5px -8px 20px #040f30, inset -20px -20px 15px #374d90;

            &:hover {
                box-shadow: inset -50px 50px 100px #060a17,
                    inset 50px -50px 100px #182a5d;
            }

            .CodeMirror-code {
                line-height: 1.25;
            }
        }

        pre.md-meta-block {
            padding: 4px 12px;
        }

        pre.md-diagram {
            background: transparent;
            box-shadow: none;

            &:hover {
                background: transparent;
                box-shadow: none;
            }

            .CodeMirror.cm-s-inner {
                background: black;
            }
        }

        .md-diagram-panel {
            font-family: @fontEmphise;
            counter-increment: figures;

            .label,
            text {
                font-family: @fontEmphise  !important;
                font-size: 14px;
            }

            .messageText {
                fill: #777;
            }

            &:before {
                content: 'Fig. 'counter(figures);
                position: absolute;
                left: 0;
                bottom: -15px;
                color: @colorText;
                height: 2.5em;
                width: 100%;
                font-family: @fontCode;
                text-align: center;
            }


            svg {
                width: 100% !important;
                background: @bgcolorQuota;
                box-shadow: @shadowQuota;
                padding: 1rem;

                &:hover {
                    background: @bchoverQuota;
                    box-shadow: @shadowhoverQuota;
                }
            }
        }

        figure {
            width: 100%;
            margin: 1rem auto;
        }

        table {
            width: 100%;
            padding: .5rem 1rem;
            border-radius: 5px;
            background: @bgcolorTable;
            box-shadow: @shadowTable;
            border-collapse: separate;

            &:hover {
                background: @bchoverTable;
                box-shadow: @shadowhoverTable;
            }

            tr:hover,
            thead {
                box-shadow: @shadowhoverTr;
                border-radius: 20px;
            }
        }


        blockquote {

            margin: 2rem auto;
            padding: .5rem 3rem .5rem 1rem;
            position: relative;
            border-radius: 5px;
            background: @bgcolorQuota;
            box-shadow: @shadowQuota;
            font-family: @fontEmphise;
            transition: all .5s ease-in-out;

            &:hover {
                background: @bchoverQuota;
                box-shadow: @shadowhoverQuota;
            }

            &::after,
            &::before {
                content: "";
                width: 4rem;
                height: 4rem;
                position: absolute;
                right: -16px;
                bottom: -16px;
                border-radius: 50%;
                background: @bcballQuota1;
                box-shadow: @sdballQuota1;
            }

            &::before {
                width: 2rem;
                height: 2rem;
                right: 25px;
                background: @bcballQuota2;
                box-shadow: @sdballQuota2;
            }

            &:hover::after,
            &:hover::before {
                border-radius: 50%;
                background: linear-gradient(225deg, #cedaff, #2f4ba0);
                box-shadow: -5px 5px 10px #5079fb, 5px -5px 10px #ccd9ff;
            }

            h6 {
                &::before {
                    content: "\f1d8";
                    width: 25px;
                    height: 25px;
                }
            }

            blockquote {
                border-left: 4px solid orange;
                background: transparent;
                box-shadow: none;
                border-radius: 0px;

                &:hover {
                    border-color: fadeout(orange, 60%);
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        .md-image {
            padding: 10px;
            padding-bottom: 2em;
            border-radius: 5px;
            display: block;
            width: fit-content;
            margin: 1rem auto;
            height: fit-content;
            counter-increment: figures;
            background: @bgcolorBody;
            box-shadow: @shadowQuota;

            &:before {
                content: 'Fig. 'counter(figures);
                position: absolute;
                left: 0;
                bottom: -10px;
                color: @colorText;
                height: 2.5em;
                width: 100%;
                font-family: @fontCode;
                text-align: center;
            }
        }

        a {
            .md-image {
                padding: 0;
                background: transparent;
                box-shadow: none;

                &::before {
                    display: none;
                }
            }

            img {
                margin: 1rem auto;
            }
        }


        img {
            display: block;
            box-shadow: @shadowQuota;

            &[alt~="shadow"] {
                box-shadow: 20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
            }

            &[alt~="inline"] {
                display: inline-block;
                margin: 0;
                padding: 0;
            }
        }

        // 快速生成可以调节照片大小的代码
        each(range(0, 100, 5), {
                img[alt~="@{value}"] {
                    width:(@value / 100 * 100%);
                    height: (@value / 100 * 100%);
                }
            }

        ) each(range(0, 100, 5), {
                img[title~="@{value}"] {
                    width:(@value / 100 * 100%);
                    height: (@value / 100 * 100%);
                }
            }

        ) figcaption {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: @fontCode;
            font-size: 0.8em;
            padding: .5em;
            text-align: center;
            color: #fff;
            background: #f5bca8;
            counter-increment: figures;

            &:before {
                content: 'Fig. 'counter(figures) ' - ';
            }
        }

        .task-list-item {

            input+p {
                display: inline-block;
                margin: 0;
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;

                &:hover {
                    background: rgb(255, 165, 15);
                    color: #3c286e;
                    transition: all .5s ease-in-out;
                }
            }

            input[type="checkbox"] {

                &::before {
                    border-radius: 15px;
                    background: @bgcolorTodo;
                    box-shadow: @shadowTodo;
                    content: " ";
                    display: block;
                    position: absolute;
                    border: 2px solid @bchoverTable;
                    width: 20px;
                    height: 20px;
                    top: -5px;
                    left: -5px;
                }

                &:hover::before {
                    border-color: @colorText;
                    transition: all .5s ease-in;
                }
            }

            p {

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                }

                &::before {
                    height: 10px;
                    width: 10px;
                    left: -20px;
                    top: 1rem;
                    z-index: -1;
                    background: #aa96ff;
                    border-radius: 15px;
                    transition: background 0.3s ease;
                }

                &:after {
                    height: 4px;
                    width: 4px;
                    top: 15px;
                    left: -20px;
                    border-radius: 50%;
                }
            }
        }

        .task-list-done {
            opacity: 0.5;
            text-decoration: line-through;
            transition: all .5s ease-in-out;

            input[type="checkbox"] {

                &::before {
                    background: @bchoverTodo;
                    box-shadow: @shadowhoverTodo;
                    transition: all .5s ease-in-out;
                }

                &::after {
                    content: "\f00c";
                    position: absolute;
                    font-family: 'FontAwesome';
                    font-size: 16px;
                    display: block;
                    top: -3px;
                    left: -4px;
                    transform: scale(0.9);
                    opacity: 0.2;
                    color: azure;
                    transition: all 0.5s ease;
                    animation: fadeout .5s ease-in-out;
                }
            }

            input[type=checkbox]+p {
                -webkit-animation: move 0.3s ease 0.1s forwards;
                animation: move 0.3s ease 0.1s forwards;

                &::before {
                    -webkit-animation: slice 0.4s ease forwards;
                    animation: slice 0.4s ease forwards;
                }

                &::after {
                    -webkit-animation: firework 0.5s ease forwards 0.1s;
                    animation: firework 0.5s ease forwards 0.1s;
                }
            }
        }


        .md-task-list-item>input {
            top: 5px;
        }

        hr {
            border: 1px solid @colorLink;
        }

        // hr {
        //     border: 0;
        //     color: #d0d0d5;
        //     background: linear-gradient(to right, @colorLink, @colorComments) no-repeat center;
        //     background-size: 100% 2px;
        // }

        // hr::before {
        //     content: '';
        //     display: block;
        //     width: .75em;
        //     height: .75em;
        //     transform: rotate(45deg);
        //     background-color: @colorLink;
        //     margin: 3px auto;
        //     box-shadow: 1.25em -1.25em, -1.25em 1.25em;
        // }

        .footnote {
            opacity: .5;
        }
    }
}

#typora-quick-open {
    background-color: transparent;
    box-shadow: 5px 10px 15px 10px rgb(0 0 0 / 47%);
    border-top: 4px solid orange;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #efefef2d;
        backdrop-filter: blur(15px);
    }

    .typora-quick-open-item:hover {
        background-color: var(--active-file-bg-color);
        border-color: var(--active-file-text-color);
        color: var(--active-file-text-color);
    }
}

#typora-sidebar {
    border-radius: 0px;
    background: @bgcolorSide;
    box-shadow: @shadowSide;

    .file-list-item {
        border-bottom-color: @colorWeak;
    }

    .file-list-item.active {
        border-radius: 10px;
        background: @bgcolorBase;
        box-shadow: @shadowhoverSide;
    }

    .file-tree-node.active>.file-node-background {
        background-color: transparent;
        border: none;
    }


    .file-tree-node.active>.file-node-content {
        color: @colorTitle;
        background: burlywood;
        border-radius: 15px;
        width: 100%;
        padding-left: 1rem;
        transition: all .5s ease-in-out;
    }

    .ty-search-item {
        margin: 1rem auto;

        .ty-search-item-summary {
            font-family: @fontEmphise;
            font-size: 1rem;
            padding-bottom: 10px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 75%;
                height: 40px;
                background: fadeout(@colorLink, 90%);
                border-radius: 0 5px 5px 0;
                top: 5px;
                left: 0;
            }

            .file-list-item-file-name {
                margin-left: 10px;
            }

            .file-list-item-parent-loc {
                padding-left: 40px;
            }
        }

        .ty-search-item-matches {
            .ty-search-item-line {
                font-family: @fontSource;
                padding-left: 2rem;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    background: @colorLink;
                    top: 0;
                    left: 1rem;
                    border-radius: 15px;
                }
            }
        }
    }


    .outline-item.outline-item-active::after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: @colorLink;
        border-radius: 15px;
        top: 0;
        right: .5rem;
        margin: 12px auto;
        animation-duration: .5s;
        animation-name: circledown;
    }
}

.ty-show-outline-filter #ty-sidebar-search-tabs,
.ty-show-search #ty-sidebar-search-tabs {
    align-items: center;
}

#ty-sidebar-search-tabs .searchpanel-search-option-btn {
    top: 25px;
}

#common-dialog {
    .modal-dialog {
        .modal-content {
            border-top: 4px solid @colorLink;
            border-radius: 0 0 5px 5px;
        }

        .modal-footer {

            .btn {
                .megamenu-content.long-btn();
                margin: 15px;
            }

            .btn-primary {
                background-color: @colorText;
                color: @bgcolorBody;

                &:hover {
                    color: @colorText;
                }
            }
        }
    }
}

#toc-dropmenu {
    background: @bgcolorTOC;
    border-radius: 10px;
}

.megamenu-menu {
    background: @bgcolorQuota;
    box-shadow: @shadowQuota;

    #megamenu-back-btn {
        color: @colorText;
    }

    .megamenu-menu-header {
        #megamenu-menu-header-title {
            color: @colorTitle ;

            @media (max-width:586px) {
                display: none !important;
            }
        }
    }

    .megamenu-menu-list li {
        width: 90%;
        margin: 0 auto;

        a {
            color: @colorText;
        }
    }

    .megamenu-menu-list li a.active,
    .megamenu-menu-list:not(.saved) li a:hover {
        color: @colorText;
        border-radius: 25px;
        background: @bchoverBTN;
        box-shadow: @shadowhoverBTN;
    }
}

.megamenu-content {
    background: @bgcolorBody;

    @media (max-width:800px) {
        background-color: @bgcolorBase;
    }

    #recent-file-panel tbody tr:nth-child(2n-1) {
        background-color: @bgcolorBase;
    }

    .long-btn {
        margin: 15px 30px;
        border: 0px solid transparent;
        border-radius: 45px;
        background: @bgcolorBTN;
        box-shadow: @shadowBTN;

        &:hover {
            background: @bchoverBTN;
            box-shadow: @shadowhoverBTN;
            color: @colorText;
        }
    }

    #theme-preview-grid {
        max-width: 95%;

        .theme-preview-div {
            width: 25%;
            min-width: 250px;
            border-color: transparent;
            display: inline-flex;
            align-items: center;
            align-content: center;
            box-shadow: @shadowBTN;

            &:hover {
                border-color: @bgcolorSelect;
                box-shadow: @shadowhoverBTN;
            }

            .theme-preview-content {
                width: 90%;
                height: 90%;
                text-align: center;
            }
        }
    }

    #about-content-about-section {
        .about-content-meta {
            font-family: @fontCode;
        }

        #about-content-license-button {
            .megamenu-content.long-btn();
        }
    }
}

.export-detail,
.export-item.active,
.export-items-list-control {
    background-color: @bgcolorSelect;
}

.uni-preference-panel {
    @media (max-width:800px) {
        background-color: @bgcolorBase;
    }
}

#top-titlebar {
    height: 30px;
}

#top-titlebar,
#top-titlebar * {
    background-color: @bgcolorBody;

    @media (max-width:800px) {
        background-color: @bgcolorBase;
    }
}

.context-menu.dropdown-menu>.active>a,
.context-menu.dropdown-menu>li>a:hover,
.menu-style-btn.active {
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
}

.on-focus-mode {
    #write {
        border-radius: 10px;
        box-shadow: @shadowbgFocus;
    }

    .md-focus {
        padding: 2px 8px;
        border-radius: 5px;
        background: @shadowFocusbg;
        box-shadow: @shadowFocus;
    }
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
    background: transparent !important;
    box-shadow: none !important;
    color: fadeout(@colorText, 80%) !important;
}

#typora-source {
    font-family: var(--monospace);
}

input {
    border: none;
    padding: .5rem;
    border-radius: 1rem;
    background: @bgcolorBase;
    box-shadow: inset 6px -6px 15px fadeout(@bgcolorBody, 50%);
    transition: 0.3s;

    &:focus {
        outline-color: #bfbfbf;
        transition: 0.3s;
        background: @bchoverBTN;
        box-shadow: @shadowhoverBTN;
        color: @colorText;
    }
}

.mac-seamless-mode #md-searchpanel {
    max-height: 80px;
}

.mac-seamless-mode #md-searchpanel.searchpanel-replace-mode {
    max-height: 120px;
}

#md-searchpanel {
    max-height: 60px;
}

#md-searchpanel.searchpanel-replace-mode {
    max-height: 100px;
}

.ty-search-panel-row {
    position: relative;
    margin: 12px 5px;
    --accent-color: #a3e583;

    &::before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    }

    &::after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid var(--accent-color);
        border-bottom-color: var(--accent-color);
    }

    &::before,
    &::after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
    }

    .form-control {
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
        max-height: 36px;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 200ms;
        transition-property: background-color;
        color: #e8e8e8;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        width: 100%;
        border-left: none;
        border-bottom: none;
        border-right: none;
    }
}

.ty-search-panel-row:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
}

.ty-search-panel-row:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
}

.form-control::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
}

.ty-search-panel-row .form-control:focus,
.ty-search-panel-row .form-control:active {
    outline: none;
}

.ty-search-panel-row:focus-within .form-control,
.ty-search-panel-row .form-control:focus,
.ty-search-panel-row .form-control:active {
    border-top: transparent;
    background-color: @bgcolorBody;
}

.ty-search-panel-row:focus-within .form-control::placeholder {
    opacity: 0;
}

pre.md-fences {

    .cm-s-inner .cm-variable,
    .cm-s-inner .cm-operator,
    .cm-s-inner .cm-property {
        color: #b8bfc6;
    }

    .cm-s-inner .cm-keyword {
        color: #C88FD0;
    }

    .cm-s-inner .cm-tag {
        color: #7DF46A;
    }

    .cm-s-inner .cm-attribute {
        color: #7575E4;
    }

    .cm-s-inner .cm-string {
        color: #D26B6B;
    }

    .cm-s-inner .cm-comment,
    .cm-s-inner.cm-comment {
        color: #DA924A;
    }

    .cm-s-inner .cm-header,
    .cm-s-inner .cm-def,
    .cm-s-inner.cm-header,
    .cm-s-inner.cm-def {
        color: #8d8df0;
    }

    .cm-s-inner .cm-quote,
    .cm-s-inner.cm-quote {
        color: #57ac57;
    }

    .cm-s-inner .cm-hr {
        color: #d8d5d5;
    }

    .cm-s-inner .cm-link {
        color: #d3d3ef;
    }

    .cm-s-inner .cm-negative {
        color: #d95050;
    }

    .cm-s-inner .cm-positive {
        color: #50e650;
    }

    .cm-s-inner .cm-string-2 {
        color: #f50;
    }

    .cm-s-inner .cm-meta,
    .cm-s-inner .cm-qualifier {
        color: #b7b3b3;
    }

    .cm-s-inner .cm-builtin {
        color: #f3b3f8;
    }

    .cm-s-inner .cm-bracket {
        color: #997;
    }

    .cm-s-inner .cm-atom,
    .cm-s-inner.cm-atom {
        color: #84B6CB;
    }

    .cm-s-inner .cm-number {
        color: #64AB8F;
    }

    .cm-s-inner .cm-variable {
        color: #b8bfc6;
    }

    .cm-s-inner .cm-variable-2 {
        color: #9FBAD5;
    }

    .cm-s-inner .cm-variable-3 {
        color: #1cc685;
    }

    .CodeMirror-selectedtext,
    .CodeMirror-selected {
        background: #4a89dc;
        color: #fff !important;
        text-shadow: none;
    }

    .CodeMirror-gutters {
        border-right: none;
    }
}

// animation for task-input

@keyframes fadeout {
    0% {
        opacity: .9;
        transform: scale(1.5);
    }

    50% {
        opacity: .6;
        transform: scale(1.2);
    }

    100% {
        opacity: .3;
        transform: scale(.9);
    }
}

@-webkit-keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@-webkit-keyframes firework {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}

@keyframes firework {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}

@-webkit-keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: 0px;
        padding-left: 0;
    }
}


@-webkit-keyframes text_shine {
    0% {
        background-position: 50% 0
    }

    to {
        background-position: -190% 0
    }
}

@keyframes text_shine {
    0% {
        background-position: 50% 0
    }

    to {
        background-position: -190% 0
    }
}

@keyframes circledown {
    0% {
        border-radius: 15px;
    }

    5% {
        border-radius: 2px;
        height: 10px;
    }

    20% {
        border-radius: 0px;
        height: 15px;
    }

    25% {
        border-radius: 2px;
        height: 15px;
    }

    100% {
        border-radius: 15px;
        height: 8px;
    }
}

// neon style
@keyframes neon {
    0%, 100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FFFC00;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 2.5vw #800E0B, 0 0 2.5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
//上述样式援引自：[dragonir](https://juejin.cn/post/6972759988632551460)

#ty-suppress-mode-warning-input {
    &::before {
        display: none;
    }
}

// special style

#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: indigo;
    border-radius: 8px;
    opacity: 0.5;
    scale: 1.5;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.25;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.8;
    transform: scale(0.5);
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 2px solid @colorLink;
}

var {
    padding: 6px 20px;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #25c33b;
    background: linear-gradient(230deg, #ffaa0d, #deb455);
    text-shadow: 0 -1px #c1c0d4;
    -webkit-box-shadow: 0 3px 5px #d3d2de;
    box-shadow: 1 3px 5px #d5d4de;
    font-style: normal;

    &::before {
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 24.5px;
        left: -12px;
        top: -12px;
        -webkit-box-shadow: 0 0 0 2.5px #f7f8f9;
        box-shadow: 0 0 0 2.5px #f7f8f9;
        font-weight: 600;
        font-family: "FontAwesome";
        text-align: center;
        background: linear-gradient(560deg, #f9ae07, #ffb615);
        content: "\f0f3";
        text-shadow: 0 -1px #ffb81b;
    }
}